.wrap{
    text-wrap: nowrap;
}
.index-width{
    width: 5%;
}
.image-width{
    width: 10%;
}
.title-width{
    width: 40%;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
}
.remove-class{
    color: #a68013;
}
.title{
    color: blue;
}