<div class="container mt-3">
    <!-- First Row -->
    <div class="img-row-container">
        <div *ngFor="let image of productImages?.slice(0,3)" class="img-container">
            <img [src]="image?.link" class="img-fixed-width" alt="Product Image">
        </div>
    </div>

    <!-- Second Row -->
    <div class="img-row-container">
        <div *ngFor="let image of productImages?.slice(3,6)" class="img-container">
            <img [src]="image?.link" class="img-fixed-width" alt="Product Image">
        </div>
    </div>
    <div class="img-row-container">
        <div></div>
    </div>
    <!-- Third Row -->
    <div class="img-row-container justify-content-end">
        <div *ngFor="let image of productImages?.slice(6,8)" class="img-container">
            <img [src]="image?.link" class="img-fixed-width" alt="Product Image">
        </div>
    </div>
</div>
