<div class="container mt-3">
    <div class="row">
        <!-- First Row -->
        <div *ngFor="let image of productImages?.slice(0,3)" class="col-4 img-container">
            <img [src]="image?.link" class="img-fluid mb-3" alt="Product Image">
        </div>

        <!-- Second Row -->
        <div *ngFor="let image of productImages?.slice(3,6)" class="col-4 img-container">
            <img [src]="image?.link" class="img-fluid mb-3" alt="Product Image">
        </div>

        <!-- Third Row -->
        <div *ngFor="let image of productImages?.slice(6,8)" class="col-4 img-container">
            <img [src]="image?.link" class="img-fluid mb-3" alt="Product Image">
        </div>
    </div>
</div>
