<p>individual works!</p>
<button type="button" class="btn px-3 my-3" routerLink="/individual/product" routerLinkActive="active">Product</button>
<button type="button" class="btn px-3 my-3" routerLink="/individual/photos" routerLinkActive="active">Photos</button>
<button type="button" class="btn px-3 my-3" routerLink="/individual/shipping" routerLinkActive="active">Shipping</button>
<button type="button" class="btn px-3 my-3" routerLink="/individual/seller" routerLinkActive="active">Seller</button>
<button type="button" class="btn px-3 my-3" routerLink="/individual/similarproduct" routerLinkActive="active">Similar Product</button>


<router-outlet></router-outlet>

