.btn.active {
    background-color: #212529 !important; /* !important to override Bootstrap styles */
    color: white !important;  /* Making text color white for visibility */
    border: #212529;
  }
.btn:active{
    background-color: #212529 !important; /* !important to override Bootstrap styles */
    color: white !important;  /* Making text color white for visibility */
    border: #212529;
}