<div>
  <button (click)="backbutton()">Back</button>
</div>
<!-- Wishlist Button -->
<td>
  <button class="btn btn-primary btn-sm btn-light px-3 py-1" name="cart" (click)="toogleIcon()" [ngClass]="{'remove-class': item.isInWishlist}">
      <span class="material-symbols-outlined img-fluid">{{ item.isInWishlist ? 'remove_shopping_cart' : 'add_shopping_cart' }}</span>
  </button>
</td>
<div class="container">
    <div *ngIf="showProgressBar" class="progress">
      <div 
        class="progress-bar progress-bar-striped" 
        role="progressbar" 
        [style.width]="progressBarValue + '%'" 
        [attr.aria-valuenow]="progressBarValue" 
        aria-valuemin="0" 
        aria-valuemax="100">
      </div>
    </div>
</div>
<div class="container" *ngIf="!showProgressBar">
    <button type="button" class="btn px-3 my-3" routerLink="/individual/product" routerLinkActive="active">Product</button>
    <button type="button" class="btn px-3 my-3" routerLink="/individual/photos" routerLinkActive="active">Photos</button>
    <button type="button" class="btn px-3 my-3" routerLink="/individual/shipping" routerLinkActive="active">Shipping</button>
    <button type="button" class="btn px-3 my-3" routerLink="/individual/seller" routerLinkActive="active">Seller</button>
    <button type="button" class="btn px-3 my-3" routerLink="/individual/similarproduct" routerLinkActive="active">Similar Product</button>
</div>



<router-outlet></router-outlet>

